# 注意配置自己实际的信息
# -----------------------------
# 合约地址
# -----------------------------
VITE_CONTRACT_NFT=0xYOUR_NFT_CONTRACT_ADDRESS
VITE_CONTRACT_NFTMARKET=0xYOUR_NFT_MARKET_CONTRACT_ADDRESS

# -----------------------------
# Filebase 配置
# -----------------------------
VITE_FILEBASE_ACCESS_KEY=your_filebase_access_key_here
VITE_FILEBASE_BUCKET=your_filebase_bucket_here
VITE_FILEBASE_GATEWAY=https://your_filebase_gateway_here